<!DOCTYPE html>
<html lang="de">

<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content=#FCC509 name="theme-color">
    <meta charset="UTF-8">
    <title>{{title}}</title>

    <link href="/assets/styles/styles.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<!-- HEADER Vorlage -->
<div class="header">
    <div class="container">
        <div class="header-inner">
            <div class="header-logo">
                <a href="/">
                    <img alt="Logo" src="/assets/images/logo.jpg"/>
                </a>
            </div>
            <div class="header-navigation">
                <ul>
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/silvesterlauf">Silvesterlauf</a>
                    </li>
                    <li>
                        <a href="/lauftreff">Lauftreff</a>
                    </li>
                    <li>
                        <a href="/triathlon">Triathlon</a>
                    </li>
                    <li>
                        <a href="/leichtathletik">Leichtathletik</a>
                    </li>
                    <li>
                        <a href="/aktuelles">Aktuelles</a>
                    </li>
                    <li>
                        <a href="/bilder">Bilder</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{{content}}

<!-- FOOTER Vorlage -->
<div class="footer">
    <div class="container">
        <div class="footer-row">
            <div class="footer-item">
                <ul>
                    <li><a href="#">Impressum</a></li>
                    <li><a href="#">Kontakt</a></li>
                    <li><a href="#">Email</a></li>
                    <li><a href="#">Telefon</a></li>
                </ul>
            </div>
            <div class="footer-item">
                <ul>
                    <li><a href="#">Impressum</a></li>
                    <li><a href="#">Kontakt</a></li>
                    <li><a href="#">Email</a></li>
                    <li><a href="#">Telefon</a></li>
                </ul>
            </div>
            <div class="footer-item">
                <ul>
                    <li><a href="#">Impressum</a></li>
                    <li><a href="#">Kontakt</a></li>
                    <li><a href="#">Email</a></li>
                    <li><a href="#">Telefon</a></li>
                </ul>
            </div>
            <div class="footer-item">
                <ul>
                    <li><a href="#">Impressum</a></li>
                    <li><a href="#">Kontakt</a></li>
                    <li><a href="#">Email</a></li>
                    <li><a href="#">Telefon</a></li>
                </ul>
            </div>
            <div class="footer-item">
                <ul>
                    <li><a href="#">Impressum</a></li>
                    <li><a href="#">Kontakt</a></li>
                    <li><a href="#">Email</a></li>
                    <li><a href="#">Telefon</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-row">
            <div class="footer-item love-notice">
                Made with ❤️ in Heidenheim.
            </div>
            <div class="footer-item scroll-top">
                <a class="button button--outline" href="#">Nach oben &Uarr;</a>
            </div>
        </div>
    </div>
</div>

</body>

</html>
