html, body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0 15px 15px 15px;
}

.row {
    width: 100%;
    float: left;
}

.distance {
    margin-top: 100px;
}

.header {
    border-bottom: 1px solid #bdc3c7;
    position: fixed;
    top: 0;
    z-index: 1000;
    left: 0;
    width: 100%;
    background-color: #fff;
}

.header .header-inner {
    display: grid;
    grid-template-columns: 100px auto;
}

.header .header-logo img {
    max-width: 120px;
}

.header .header-navigation {
    justify-self: center;
    float: left;
}

.header .header-navigation ul {
    margin: 22px 0;
    list-style: none;
}

.header .header-navigation li {
    float: left;
    padding: 15px;
    border-bottom: 2px solid transparent;
    transition: border 250ms;
}

.header .header-navigation li.active {
    border-bottom: 2px solid #FCC509;
}

.header .header-navigation li:hover {
    border-bottom: 2px solid #FCC50985;
}

.hero {
    float: left;
    width: 100%;
    height: calc(100vh - 100px);
}

.hero.hero--small {
    height: calc(65vh - 100px);
}

.hero .container {
    height: 100%;
}

.hero.hero--color {
    background: #FCC509;
}

.hero.hero--image {
    background-size: cover;
    background-position: top center;
}

.hero .hero-inner {
    display: grid;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-content: stretch;
    padding: 50px 0;
}

.hero .hero-inner .hero-card {
    background: #000;
    padding: 0 15px 15px 15px;
    color: #fff;
    align-self: end;
}

.hero .hero-inner .hero-card.hero-card--light {
    color: #000;
    background: #fff;
}

.hero .hero-inner h1 {
    border-bottom: 5px solid #FCC509;
    display: inline-block;
    padding: 10px 0;
}

.hero.hero--light .hero-inner {
    color: #fff;
}

.button {
    padding: 10px;
    transition: 250ms;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    background: #fff !important;
}

.button--dark:hover, .button--outline:hover {
    background: #FCC509 !important;
}

.button.button--solid {
    border: 2px solid #FCC509;
    background: #FCC509;
}

.button.button--outline {
    border: 2px solid #FCC509;
}

.button.button--black-outline {
    border: 2px solid #000;
}

.button.button--dark {
    border: 2px solid #000;
    background: #000;
    color: #fff;
}

.footer {
    background: #000;
    width: 100%;
    float: left;
    color: #fff;
}

.footer * {
    color: #fff;
}

.footer .footer-item {
    padding: 10px 0;
}

.footer .footer-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.footer ul {
    margin: 0;
    list-style: none;
}

.footer li {
    padding: 7px 0;
}

.footer li a {
    font-weight: bolder;
}

.footer .scroll-top {
    padding: 15px;
    text-align: right;
}

/* Haupt Textinhaltscontainer, Darstellung als CSS Grid */

.main-content {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 25% auto auto;
}

/* Seitenmenü, bleibt am "Bildschirm kleben" */

.main-content .sticky {
    display: block;
    position: sticky;
    top: 164px;
    background: #eeeeee;
    padding: 10px 0;
}

.main-content .sidebar .description {
    padding: 0 15px;
}

.main-content .sidebar ul {
    padding: 0;
}

.main-content .sidebar li {
    list-style: none;
    transition: 500ms;
    padding: 10px 15px;
    margin: 0;
}

.main-content .sidebar li:hover {
    background: #FCC509;
}

.main-content .content {
    border-left: 1px solid #bdc3c7;
    padding: 0 20px;
}

.footer .footer-item.love-notice {
    text-align: right;
    padding-top: 25px;
}

.blocks {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
}

.blocks.blocks--even {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.blocks .block-inner {
    float: left;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4)5%, #000);
    display: grid;
    align-content: end;
}

.blocks .block-item {
    color: white;
    min-height: 300px;
}

.blocks .block-description {
    transition: 500ms;
    padding: 15px;
}

.blocks .block-description h1 {
    margin-bottom: 10px;
}

.blocks .block-item:hover .block-description {
    padding: 30px 15px;
}

@media only screen and (max-width: 600px) {

    .header {
        position: relative;
    }
    .header .header-navigation ul {
        margin: 0;
        padding: 0;
    }
    .header .header-navigation ul li {
        width: 100%;
    }
    .header .header-logo {
        justify-self: center;
        grid-row: 1/2;
        grid-column: 1/3;
    }
    .header .header-navigation {
        grid-row: 2/2;
        grid-column: 1/3;
    }
    .hero .hero-inner {
        grid-template-columns: 1fr;
    }
    .container.distance {
        margin-top: 0;
    }
    .main-content {
        column-gap: normal;
    }
    .main-content .sticky {
        position: static;
    }
    .main-content .sidebar {
        grid-row: 1/2;
        grid-column: 1/3;
    }
    .main-content .content {
        grid-row: 2/2;
        grid-column: 1/3;
        padding: 0;
        border: none;
    }
    .blocks {
        grid-template-columns: 1fr;
    }
    .blocks.blocks--even {
        grid-template-columns: 1fr 1fr;
    }
    .footer .footer-row {
        grid-template-columns: 1fr 1fr;
    }
    .footer .scroll-top {
        justify-self: center;
    }
}
