/**
    Style conventions
    - keine Datei URLs falls nicht notwendig
    - class-names mit -, nicht _ oder CamelCase
    - modifier (Zusatzklassen) werden class-name--modifer genannt ( - - )
 */


/*
    Grundformatierung von HTML und Body 
*/
html, body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

/*  
    Links:
    Keine Dekoration (Unterstrichen, Farbig, ...)
    Text-Farbe: Schwarz 
*/
a {
    text-decoration: none;
    color: #000;
}

/*  
    Container:
    Alle Inhalte werden immer in diesen Containern verpackt
    Maximale Breite: 1200px
    Rand um Text (padding): Oben 0px, Rest 15px
*/
.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0 15px 15px 15px;
}

/*
    Für Seiten mit wenig text
 */
.container--slim {
    max-width: 600px;
}

.row {
    width: 100%;
    float: left;
}

/*
    distance:
    Klasse für oberen Abstand 100px (genutzt in Container)
*/
.distance {
    margin-top: 100px;
}

/*
    Header:
    Unterer Rand: 1px, durchgezogen, grau
    Breite: 100%
    Hintergrund-Farbe: Weiß
*/
.header {
    border-bottom: 1px solid #bdc3c7;
    position: fixed;
    top: 0;
    z-index: 1000;
    left: 0;
    width: 100%;
    background-color: #fff;
}

.header .header-inner {
    display: grid;
    grid-template-columns: 100px auto;
}

/*
    Header Logo (img):
    Maximale Breite: 120px
*/
.header .header-logo img {
    max-width: 120px;
}

/*
    Header-Navigation:
    Anordnung: So weit nach links wie möglich (float left)
*/
.header .header-navigation {
    justify-self: center;
    float: left;
}

/*
    Auflistung:
    Außenabstand: Oben/unten 22px, Rechts/links 0px
    Style: keiner (Aufzählung 1.,2., ... nicht vorhanden)
*/
.header .header-navigation ul {
    margin: 22px 0;
    list-style: none;
}

/*
    Auflistungsinhalte:
    Anordnung: So weit nach Links wie möglich
    Innenabstand: 15px in alle Richtungen
    Unterer Rand: 2px, durchgezogen, transparent
    Übergang: in 250ms (z.B. beim Hovern)
*/
.header .header-navigation li {
    float: left;
    padding: 15px;
    border-bottom: 2px solid transparent;
    transition: border 250ms;
}

/*
    active:
    Klasse für aktuell ausgewählte Seite
    Unterer Rand: Orange
*/
.header .header-navigation li.active {
    border-bottom: 2px solid #FCC509;
}

/* 
    Auflistungsinhalte hover:
    Unterer Rand: Orange mit 52% Transparenz (85 als Hexdec-Zahlen)
*/
.header .header-navigation li:hover {
    border-bottom: 2px solid #FCC50985;
}

/*
    Hero:
    Klasse für Startbild 
    Breite: 100%
    Höhe: 100% - 100px (Würde sonst hinter Header verschwinden)
*/
.hero {
    float: left;
    width: 100%;
    height: calc(100vh - 100px);
    min-height: 500px;
}

/*
    Hero small:
    Höhe: 65% - 100px
*/
.hero.hero--small {
    height: calc(65vh - 100px);
}

.hero .container {
    height: 100%;
}

/* 
    Hero color:
    Klasse für einfarbiges Startbild
    Hintergrund-Farbe: Orange
*/
.hero.hero--color {
    background: #FCC509;
}

/*
    Hero image:
    Klasse für Bild als Startbild
    Größe: Cover (vollständig bedeckt)
    Ausrichtung: Oben mittig
*/
.hero.hero--image {
    background-size: cover;
    background-position: top center;
}

/*
    Hero inner:
    Klasse für Bereich in Hero
    Anzeige: Grid (Aufteilung auf Bildschirm in gleichgroße Teile)
*/
.hero .hero-inner {
    display: grid;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-content: stretch;
    padding: 50px 0;
}

/*
    Hero card:
    Klasse für Textfeld in Hero.
    Hintergrund-Farbe: Schwarz
    Innenabstand: Oben 0px, Rest 15px
    Text-Farbe: Weiß

*/
.hero .hero-inner .hero-card {
    background: #000;
    padding: 0 15px 15px 15px;
    color: #fff;
    align-self: end;
}

/*
    Hero card light:
    Klasse für helles Textfeld in Hero.
    Hintergrund-Farbe: Weiß
    Text-Farbe: Schwarz
*/
.hero .hero-inner .hero-card.hero-card--light {
    color: #000;
    background: #fff;
}

/* 
    Hero inner H1
    Klasse für Überschrift in Hero.
    Unterer Rand: 5x, durchgezogen, orange
    Innenabstand: Oben/unten 10px, Rechts/links 0px
*/
.hero .hero-inner h1 {
    border-bottom: 5px solid #FCC509;
    display: inline-block;
    padding: 10px 0;
}

.hero.hero--light .hero-inner {
    color: #fff;
}

/*
    Button:
    Klasse für alle Buttons der Seite.
    Innenabstand: 10px
    Übergang: 250ms
    Anordnung: Mittig
*/
.button {
    padding: 10px;
    transition: 250ms;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/*
    Button hover:
    Klasse für Hovern (Maus darauffahren)
    Hintergrund-Farbe: Weiß
*/
.button:hover {
    background: #fff !important;
}

/*
    Button hover (dark, outline):
    Hintergrund-Farbe: Orange
*/
.button--dark:hover, .button--outline:hover {
    background: #FCC509 !important;
}

/* 
    Button solid:
    Klasse für komplett orangen Button.
    Rand: 2px, durchgezogen, orange
    Hintergrund-Farbe: Orange
*/
.button.button--solid {
    border: 2px solid #FCC509;
    background: #FCC509;
}

/*
    Button outline:
    Klasse für weißen Button mit orangenem Rand.
    Rand: 2px, durchgezogen, orange
*/
.button.button--outline {
    border: 2px solid #FCC509;
}

/*
    Button black-outline:
    Klasse für weißen Button mit schwarzem Rand.
    Rand: 2px, durchgezogen, schwarz
*/
.button.button--black-outline {
    border: 2px solid #000;
}

/*
    Button dark:
    Klasse für schwarzen Button mit weißem Text.
    Rand: 2px, durchgezogen, schwarz
    Hintergrund-Farbe: Schwarz
    Text-Farbe: Weiß
*/
.button.button--dark {
    border: 2px solid #000;
    background: #000;
    color: #fff;
}

/*
    Footer:
    Klasse für Footer (Fußzeile der Website)
    Hintergrund-Farbe: Schwarz
    Breite: 100%
    Anordnung: So weit links wie möglich
    Text-Farbe: Weiß
*/
.footer {
    background: #000;
    width: 100%;
    float: left;
    color: #fff;
}

.footer * {
    color: #fff;
}

/*
    Footer item:
    Klasse für Inhalt in Footer.
    Innenabstand: Oben/unten 10px, Rechts/links 0px
*/
.footer .footer-item {
    padding: 10px 0;
}

/* 
    Footer row:
    Klasse für Spalten in Footer.
    Anzeige: Grid
*/
.footer .footer-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

/* 
    Footer ul:
    Klasse für Auflistung in Footer.
    Außenabstand: 0px
    Style: keiner 
*/
.footer ul {
    margin: 0;
    list-style: none;
}

/*
    Footer li:
    Klasse für Auflistungsinhalte in Footer.
    Innenabstand: Oben/unten 7px, Rechts/links 0px
*/
.footer li {
    padding: 7px 0;
}

/* 
    Footer li a:
    Klasse für Link in Footer.
    Dicke: "fetter" als normaler Text
*/
.footer li a {
    font-weight: bolder;
}

/*
    Footer scroll-top:
    Klasse für "Nach-Oben"-Button.
    Innenabstand: 15px
    Ausrichtung: Rechts
*/
.footer .scroll-top {
    padding: 15px;
    text-align: right;
}

/* 
    main content:
    Haupt Textinhaltscontainer, Darstellung als CSS Grid 
*/
.main-content {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 25% auto auto;
}
/*
    activity content:
    Haupt Textinhaltscontainer, Darstellung als CSS Grid mit mehr Abstand nach oben 
*/
.activity-content {
    display: grid;
    margin-top: 30px;
    grid-gap: 30px;
    grid-template-columns: auto 25%;
}

.activity-content .content{
    padding: 0 20px;
}
/*
    acativity content trainer:
    Trainer Karte, um Die Trainer einer Abteilung Darzustellen
*/
.activity-content .trainer{
    border-left: 1px solid #bdc3c7;
    padding: 0 20px;
}

/* 
    main content sticky:
    Seitenmenü, bleibt am "Bildschirm kleben" 
*/
.main-content .sticky {
    display: block;
    position: sticky;
    top: 164px;
    background: #eeeeee;
    padding: 10px 0;
}

.main-content .sidebar .description {
    padding: 0 15px;
}

.main-content .sidebar ul {
    padding: 0;
}

.main-content .sidebar li {
    list-style: none;
    transition: 500ms;
    padding: 10px 15px;
    margin: 0;
}

.main-content .sidebar li:hover {
    background: #FCC509;
}

.main-content .content {
    border-left: 1px solid #bdc3c7;
    padding: 0 20px;
}

/**
    h1, h2, ... wird für links für Seitensprünge verwendet
    durch den fixen header verschwinden diese allerdings unter diesem
    Nachfolgender trick ermöglicht das Springen zur richtigen Stelle
 */
.main-content .content h1,
.main-content .content h2,
.main-content .content h3,
.main-content .content h4,
.main-content .content h5 {
    margin-top: -120px;
    padding-top: 120px;
}

.footer .footer-item.love-notice {
    text-align: right;
    padding-top: 25px;
}

/*
    blocks:
    Klasse für Blöcke in Website (Verlinkungen auf andere Seiten u.ä.)
*/
.blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

/**
    Großer block
    aufspannen von 1 bis 2
 */
.blocks .block-item.block-item--big {
    grid-column: span 2;
}

.blocks.blocks--even {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.blocks .block-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4) 5%, #000);
    display: flex;
}

.blocks .block-item {
    position: relative;
    color: white;
    min-height: 300px;
}

.blocks .block-description {
    margin-top: auto;
    transition: 500ms;
    padding: 15px;
}

.blocks .block-description h1 {
    margin-bottom: 10px;
}

.blocks .block-item:hover .block-description {
    padding: 30px 15px;
}

.value-grid {
    padding: 0;
}

.value-grid li.item {
    padding-bottom: 10px;
    list-style: none;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.value-grid .key {
    opacity: 0.75;
    width: 50%;
}

.value-grid .key-title {
    font-weight: bold;
    display: block;
    padding-bottom: 10px;
}


.value-grid .value {
    flex-grow: 1;
    text-align: right;
}

/*
    MOBILE DARSTELLUNG
    Für alle Geräte mit maximaler Breite 600px
    Hier finden nun Anpassungen für oben festgelegt Werte auf Mobile Endgeräte statt.
*/
@media only screen and (max-width: 600px) {

    .header {
        position: relative;
    }

    .header .header-navigation ul {
        margin: 0;
        padding: 0;
    }

    .header .header-navigation ul li {
        width: 100%;
    }

    .header .header-logo {
        justify-self: center;
        grid-row: 1/2;
        grid-column: 1/3;
    }

    .header .header-navigation {
        grid-row: 2/2;
        grid-column: 1/3;
    }

    .hero .hero-inner {
        grid-template-columns: 1fr;
    }

    .container.distance {
        margin-top: 0;
    }
  
    .activity-content {
        column-gap: normal;
        grid-template-columns: none;
    }
    
    .activity-content .content{
        grid-row: auto;
        grid-column: 1/2;
        padding: 0;
        border: none;
    }
    .activity-content .trainer{
        grid-row: auto;
        grid-column: 1/2;
        padding: 0;
        border: none;
    }

    .main-content {
        column-gap: normal;
    }

    .main-content .sticky {
        position: static;
    }

    .main-content .sidebar {
        grid-row: 1/2;
        grid-column: 1/3;
    }

    .main-content .content {
        grid-row: auto;
        grid-column: 1/3;
        padding: 0;
        border: none;
    }

    .value-grid .item {
        display: flex;
        flex-direction: row;
    }

    .blocks,
    .blocks.blocks--even {
        grid-template-columns: 1fr;
    }

    .footer .footer-row {
        grid-template-columns: 1fr 1fr;
    }

    .footer .scroll-top {
        justify-self: center;
    }
}

/*
    DARK MODE
    wird automatisch ausgewählt
 */
@media (prefers-color-scheme: dark) {
    html,
    body,
    .header {
        background: #000;
        color: #fff;
        border-bottom: #bdc3c7;
    }

    a:not(.button) {
        color: #FCC509;
    }

    .header li a {
        color: #fff;
    }

    .main-content .sticky {
        background: #5a5a5a;
    }

    .main-content .sticky li:hover a,
    .main-content .sticky a:hover {
        color: #fff;
    }

    .footer {
        border-top: 1px solid #FCC509;
    }
}
