html,
body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0 15px 15px 15px;
}

.container.distance {
    margin-top: 100px;
}

.header {
    border-bottom: 1px solid #bdc3c7;
    position: fixed;
    top: 0;
    z-index: 1000;
    left: 0;
    width: 100%;
    background-color: #fff;
}

.header .header-inner {
    display: grid;
    grid-template-columns: 100px auto;
}

.header .header-logo img {
    max-width: 120px;
}

.header .header-navigation {
    justify-self: center;
    float: left;
}

.header .header-navigation ul {
    margin: 22px 0;
    list-style: none;
}

.header .header-navigation li {
    float: left;
    padding: 15px;
    border-bottom: 2px solid transparent;
    transition: border 250ms;
}

.header .header-navigation li.active {
    border-bottom: 2px solid #FCC509;
}

.header .header-navigation li:hover {
    border-bottom: 2px solid #FCC50985;
}

.hero {
    float: left;
    width: 100%;
    min-height: 500px;
}

.hero.hero--color {
    background: #FCC509;
}

.hero.hero--image {
    background-size: cover;
    background-position: top center;
}

.hero .hero-content {
    padding-top: 150px;
}

.hero.hero--light .hero-content {
    color: #fff;
}

.button {
    padding: 10px;
    transition: 250ms;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    background: #fff !important;
}

.button--dark:hover,
.button--outline:hover {
    background: #FCC509 !important;
}

.button.button--solid {
    border: 2px solid #FCC509;
    background: #FCC509;
}

.button.button--outline {
    border: 2px solid #FCC509;
}

.button.button--black-outline {
    border: 2px solid #000;
}

.button.button--dark {
    border: 2px solid #000;
    background: #000;
    color: #fff;
}

.footer {
    background: #000;
    width: 100%;
    float: left;
    color: #fff;
}

.footer ul {
    list-style: none;
    padding-top: 10px;
}

.footer li a {
    color: #fff;
}


/* Haup Textinhaltscontainer, Darstellung als CSS Grid */

.main-content {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 25% auto auto;
}


/* Seitenmenü, bleibt am "Bildschirm kleben" */

.main-content .sidebar {
    display: block;
    position: sticky;
    top: 164px;
}

.main-content .sidebar li {
    list-style: none;
}

.main-content .content {
    border-left: 1px solid #000;
    padding: 0 20px;
}

@media only screen and (max-width: 600px) {
    .header {
        position: relative;
    }
    .header .header-navigation ul {
        margin: 0;
    }
    .header .header-navigation ul li {
        width: 100%;
    }
    .header .header-logo {
        justify-self: center;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .header .header-navigation ul {
        width: 100%;
    }
}